In [1]:
# Mongo DB

In [78]:
# Connection URL - To connnect Python code with MongoDB
import pymongo
Default_Connection_Url = "mongodb://localhost:27017/"  # Connection Url to connect Python code with Mongodb
client = pymongo.MongoClient(Default_Connection_Url) # Connecting the python code and Mongodb

In [79]:
# Creating a Database
DataBase_Name = "Students"
data_base = client[DataBase_Name]

In [80]:
# Creating a collection inside the database (Basically, we are creating a table inside the database)
Collection_Name = "Student_Details"
collection = data_base[Collection_Name]

In [81]:
# Checking list of datbases
client.list_database_names()
# We not seeing our Student database. The database will not show until the records are created inside of that database

['admin', 'config', 'local']

In [82]:
# Inserting a single record inside a Collection i.e table
record={'Student_Id' : 1,
       'Student_Name': 'Sanath',
       'Class' : 10,
       'Section' : 'A'}
collection.insert_one(record)

In [83]:
# Now we are checking our database name
client.list_database_names()

['Students', 'admin', 'config', 'local']

In [84]:
# Inserting multiple record to our collection in our databse
multiple_record=[
                {'Student_Id' : 2,'Student_Name': 'Ram','Class' : 10,'Section' : 'A'},
                {'Student_Id' : 3,'Student_Name': 'Kumar','Class' : 10,'Section' : 'B'},
                {'Student_Id' : 4,'Student_Name': 'Rahul','Class' : 10,'Section' : 'B'},
                {'Student_Id' : 5,'Student_Name': 'Abhi','Class' : 10,'Section' : 'A'}
                ]
collection.insert_many(multiple_record)

In [85]:
# I am overriding the data for the student id =4
record={'Student_Id' : 4,'Student_Name': 'Abhishek','Class' : 10,'Section' : 'B'}
collection.insert_one(record)

In [86]:
# Finding the record in a student_details (It will print our first record)
result = collection.find_one()
print(f"The first record of the {Collection_Name} is: {result} ")

The first record of the Student_Details is: {'_id': ObjectId('60262adc5708d7e79f579074'), 'Student_Id': 1, 'Student_Name': 'Sanath', 'Class': 10, 'Section': 'A'}

In [87]:
result1 = collection.find()

for idx,lst in enumerate(result1):
    print(f"{idx}:{lst}")

0:{'_id': ObjectId('60262adc5708d7e79f579074'), 'Student_Id': 1, 'Student_Name': 'Sanath', 'Class': 10, 'Section': 'A'}
1:{'_id': ObjectId('60262ae25708d7e79f579075'), 'Student_Id': 2, 'Student_Name': 'Ram', 'Class': 10, 'Section': 'A'}
2:{'_id': ObjectId('60262ae25708d7e79f579076'), 'Student_Id': 3, 'Student_Name': 'Kumar', 'Class': 10, 'Section': 'B'}
3:{'_id': ObjectId('60262ae25708d7e79f579077'), 'Student_Id': 4, 'Student_Name': 'Rahul', 'Class': 10, 'Section': 'B'}
4:{'_id': ObjectId('60262ae25708d7e79f579078'), 'Student_Id': 5, 'Student_Name': 'Abhi', 'Class': 10, 'Section': 'A'}
5:{'_id': ObjectId('60262ae35708d7e79f579079'), 'Student_Id': 4, 'Student_Name': 'Abhishek', 'Class': 10, 'Section': 'B'}

In [88]:
# find all the record at once present in the record with SPECIFIC fields
all_record = collection.find({}, {"Student_Name"})

for idx, record in enumerate(all_record):
    print(f"{idx}: {record}")

0: {'_id': ObjectId('60262adc5708d7e79f579074'), 'Student_Name': 'Sanath'}
1: {'_id': ObjectId('60262ae25708d7e79f579075'), 'Student_Name': 'Ram'}
2: {'_id': ObjectId('60262ae25708d7e79f579076'), 'Student_Name': 'Kumar'}
3: {'_id': ObjectId('60262ae25708d7e79f579077'), 'Student_Name': 'Rahul'}
4: {'_id': ObjectId('60262ae25708d7e79f579078'), 'Student_Name': 'Abhi'}
5: {'_id': ObjectId('60262ae35708d7e79f579079'), 'Student_Name': 'Abhishek'}

In [89]:
# setting limits to find the record in a table:
limits=3
result = collection.find().limit(limits)
for data in result:
    print(data)

{'_id': ObjectId('60262adc5708d7e79f579074'), 'Student_Id': 1, 'Student_Name': 'Sanath', 'Class': 10, 'Section': 'A'}
{'_id': ObjectId('60262ae25708d7e79f579075'), 'Student_Id': 2, 'Student_Name': 'Ram', 'Class': 10, 'Section': 'A'}
{'_id': ObjectId('60262ae25708d7e79f579076'), 'Student_Id': 3, 'Student_Name': 'Kumar', 'Class': 10, 'Section': 'B'}

In [90]:
# Querying or filtering out or retreving the data
query={'Student_Id' :1}
result = collection.find(query)
for i in result:
    print(i)

{'_id': ObjectId('60262adc5708d7e79f579074'), 'Student_Id': 1, 'Student_Name': 'Sanath', 'Class': 10, 'Section': 'A'}

In [93]:
# Deleting a data 
query_to_delete={'Student_Name': 'Ram'}
collection.delete_one(query_to_delete)

In [95]:
# Querying to see the "Ram" exist in Student_Name. No data available
query={'Student_Name' :'Ram'}
result = collection.find(query)
for i in result:
    print(i)

In [96]:
# Updating the record
old_data = {'Student_Name': 'Kumar'}
new_data = {"$set":{'Student_Name': 'Kishor'}}

collection.update_one(old_data,new_data)

In [97]:
# To check the Kumar is changed to Kishor or not - Kumar is change to Kishor
all_record = collection.find({}, {"Student_Name"})

for idx, record in enumerate(all_record):
    print(f"{idx}: {record}")

0: {'_id': ObjectId('60262adc5708d7e79f579074'), 'Student_Name': 'Sanath'}
1: {'_id': ObjectId('60262ae25708d7e79f579076'), 'Student_Name': 'Kishor'}
2: {'_id': ObjectId('60262ae25708d7e79f579077'), 'Student_Name': 'Rahul'}
3: {'_id': ObjectId('60262ae25708d7e79f579078'), 'Student_Name': 'Abhi'}
4: {'_id': ObjectId('60262ae35708d7e79f579079'), 'Student_Name': 'Abhishek'}

In [98]:
result = collection.find()
for i in result:
    print(i)

{'_id': ObjectId('60262adc5708d7e79f579074'), 'Student_Id': 1, 'Student_Name': 'Sanath', 'Class': 10, 'Section': 'A'}
{'_id': ObjectId('60262ae25708d7e79f579076'), 'Student_Id': 3, 'Student_Name': 'Kishor', 'Class': 10, 'Section': 'B'}
{'_id': ObjectId('60262ae25708d7e79f579077'), 'Student_Id': 4, 'Student_Name': 'Rahul', 'Class': 10, 'Section': 'B'}
{'_id': ObjectId('60262ae25708d7e79f579078'), 'Student_Id': 5, 'Student_Name': 'Abhi', 'Class': 10, 'Section': 'A'}
{'_id': ObjectId('60262ae35708d7e79f579079'), 'Student_Id': 4, 'Student_Name': 'Abhishek', 'Class': 10, 'Section': 'B'}

In [99]:
# Updating the record
old_data = {'Class': 10}
new_data = {"$set":{'Class': '11th'}}

collection.update_many(old_data,new_data)

In [100]:
# Class 10 is changed to 11th in all the records
result = collection.find()
for i in result:
    print(i)

{'_id': ObjectId('60262adc5708d7e79f579074'), 'Student_Id': 1, 'Student_Name': 'Sanath', 'Class': '11th', 'Section': 'A'}
{'_id': ObjectId('60262ae25708d7e79f579076'), 'Student_Id': 3, 'Student_Name': 'Kishor', 'Class': '11th', 'Section': 'B'}
{'_id': ObjectId('60262ae25708d7e79f579077'), 'Student_Id': 4, 'Student_Name': 'Rahul', 'Class': '11th', 'Section': 'B'}
{'_id': ObjectId('60262ae25708d7e79f579078'), 'Student_Id': 5, 'Student_Name': 'Abhi', 'Class': '11th', 'Section': 'A'}
{'_id': ObjectId('60262ae35708d7e79f579079'), 'Student_Id': 4, 'Student_Name': 'Abhishek', 'Class': '11th', 'Section': 'B'}

In [101]:
# Droping the collection i,e table 
collection.drop()

In [102]:
# Checking the collection is existing or not using function

def check_col_inside_db(DataBase_Name, Collection_Name, db):
    check_lst = db.list_collection_names()
    
    if Collection_Name in check_lst:
        print(f"Collection {Collection_Name} exists in database {DataBase_Name}")
        return True
    else:
        print(f"Collection {Collection_Name} NOT exists in database {DataBase_Name}")
        return False

chek_coll=check_col_inside_db(DataBase_Name=DataBase_Name, Collection_Name = Collection_Name, db=data_base)

Collection Student_Details NOT exists in database Students