In [1]:
# Database Connection

# Importing mysql connector to make a connection between mysql database and Python code
import mysql.connector as connection

# Connecting through mysql database using host, username and password for the database
mydb=connection.connect(host="localhost", user="root", passwd="1234")

print("mydb is connected")

# Once database is opened, we need to close the database after use
mydb.close()

mydb is connected

In [3]:
# Creating a Database

import mysql.connector as connection

try:
    mydb=connection.connect(host="localhost",user="root",passwd="1234")
    
    # Creating a cursor to execute the query and display the output. It acts as a pointer
    cursor = mydb.cursor()
    
    # Giving our query
    query="CREATE DATABASE IF NOT EXISTS STUDENT;"
    
    # Excuting the query using cursor
    cursor.execute(query)
    print("Database Created")
    
    mydb.commit()
    
except Exception as e:
    print(str(e))

finally:
    # Closing the database
    mydb.close()

Database Created

In [8]:
# Create a Table Inside Databse

import mysql.connector as connection 

try:
    mydb=connection.connect(host="localhost", database="STUDENT", user="root", passwd="1234")
    
    cursor=mydb.cursor()
    
    # Creating a Table inside the database "STUDENT"
    query= """CREATE TABLE IF NOT EXISTS STUDENT_DETAILS(STUDENT_ID INT(10) AUTO_INCREMENT PRIMARY KEY,
                                        FIRST_NAME VARCHAR(60),
                                        LAST_NAME VARCHAR(60),
                                        REGISTRATION_DATE DATE,
                                        CLASS VARCHAR(30),
                                        SECTION VARCHAR(10)
                                        )"""
    cursor.execute(query)
    print("Table Created")
    mydb.commit()

except Exception as e:
    print(str(e))
    
finally:
    mydb.close()

Table Created

In [10]:
# Inserting into Table

import mysql.connector as connection 

try:
    mydb=connection.connect(host="localhost", database="STUDENT", user="root", passwd="1234") 
    cursor=mydb.cursor()
    query="INSERT INTO STUDENT_DETAILS VALUES('1112','SAM','THANG','1988-05-05','LKG','B')"
    cursor.execute(query)
    print("Data inserted into Table")
    mydb.commit()

except Exception as e:
    print(str(e))
    
finally:
    mydb.close()

Data inserted into Table

In [11]:
# Reading a data inside tables

# Inserting into Table - Example 1

import mysql.connector as connection 

try:
    mydb=connection.connect(host="localhost", database="STUDENT", user="root", passwd="1234") 
    cursor=mydb.cursor()
    query="SELECT * FROM STUDENT_DETAILS"
    cursor.execute(query)

    # fetchall() will display the output
    result=cursor.fetchall()
    print(result)
    
    mydb.commit()

except Exception as e:
    print(str(e))
    
finally:
    mydb.close()

[(1111, 'LAVANYAAAAA', 'THANGARAJ', datetime.date(1988, 5, 5), 'LKG', 'B'), (1112, 'SAM', 'THANG', datetime.date(1988, 5, 5), 'LKG', 'B')]

In [12]:
# Reading a data inside tables

# Inserting into Table - Example 2

import mysql.connector as connection 

try:
    mydb=connection.connect(host="localhost", database="STUDENT", user="root", passwd="1234") 
    cursor=mydb.cursor()
    query="SELECT * FROM STUDENT_DETAILS"
    cursor.execute(query)

    # fetchall() will display the output using forloop
    result=cursor.fetchall()
    for i in result:
        print(i)
        
    mydb.commit()

except Exception as e:
    print(str(e))
    
finally:
    mydb.close()

(1111, 'LAVANYAAAAA', 'THANGARAJ', datetime.date(1988, 5, 5), 'LKG', 'B')
(1112, 'SAM', 'THANG', datetime.date(1988, 5, 5), 'LKG', 'B')

In [14]:
# Updating Data into Table

import mysql.connector as connection 

# Example 1: Updating the record
mydb=connection.connect(host="localhost", database="STUDENT", user="root", passwd="1234")

try:
    cursor=mydb.cursor()
    query="UPDATE STUDENT_DETAILS SET FIRST_NAME='LAVANYA', LAST_NAME='BALASUBRAMANIAN' WHERE STUDENT_ID=1111"
    cursor.execute(query)
    print("Data Updated in a Table")
    mydb.commit()
    
except Exception as e:
    print(str(e))
    
finally:
    mydb.close()

Data Updated in a Table

In [16]:
# Updating Data into Table

# Example 2:
# Updating the record and seeing the updated record in the output

mydb=connection.connect(host="localhost", database="STUDENT", user="root", passwd="1234")

try:
    cursor=mydb.cursor()
    query="UPDATE STUDENT_DETAILS SET FIRST_NAME='SANATH', LAST_NAME='THANGARAJ' WHERE STUDENT_ID=1111"
    cursor.execute(query)
    mydb.commit()
    
    
    query="SELECT * FROM STUDENT_DETAILS WHERE STUDENT_ID=1111"
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)
    mydb.commit()
    
    
except Exception as e:
    print(str(e))
    
finally:
    mydb.close()

(1111, 'SANATH', 'THANGARAJ', datetime.date(1988, 5, 5), 'LKG', 'B')

In [17]:
# Reading a file from Pandas

import mysql.connector as connection 
import pandas as pd

try:
    mydb=connection.connect(host="localhost",database="GLASSDATA", user="root", passwd="1234")
    #cursor = mydb.cursor()
    query="SELECT * FROM GLASS_DATA;"
    df=pd.read_sql(query,mydb)
    print("Reading a file using Pandas")
    for i in df:
        print(i)
        
    mydb.commit()

except Exception as e:
    print(str(e))

finally:
    mydb.close()

Reading a file using Pandas
INDEX_NUMBER
RI
NA
MG
AL
SI
K
CA
BA
FE
CLASS